@charset "utf-8";
head{font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;}

.class:columns 






body{font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;}
a {
  color: Blue;
}
	  h1 {
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, 
			"sans-serif" ;color: firebrick
	                 } 

footer {
	background-color: aqua
}





.button a {
	background-color:#AAD221
		darkolivegreen
}


